*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
}

.tableBox{
    max-width: 1200px;
    padding: 20px;
    margin: 10px auto;
}

table{
    background: rgba(47, 65, 167, 0.5);
    border-collapse: collapse;
    max-width: 1100px;
    margin: 0 auto;
}

thead{
    background: rgba(47, 65, 167, 0.7);
    font-size: 25px;
    font-weight: bold;
}

td, th{
    text-align: center;
    padding: 5px;
}

tbody{
    font-size: 20px;
}

tbody tr:nth-of-type(even){
    background: rgba(10, 27, 125, 0.5);
}

@media (max-width: 650px){
    thead{
        display: none;
    }

    tr {
        display: block;
    }
    td {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    td::before {
        display: block;
        width: 110px;
        text-align: center;
        margin-right: 10px;
        font-weight: bolder;
    }
    td:first-of-type::before {
        content: "Lorem, ipsum: ";
    }
    td:nth-of-type(2)::before {
        content: "Magnam, atque: ";
    }
    td:nth-of-type(3)::before {
        content: "Voluptates, animi: ";
    }
    td:nth-of-type(4)::before {
        content: "Eum, quasi: ";
    }
    td:last-of-type::before {
        content: "Porro, sint: ";
    }
}